*{
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(white,rgb(15, 18, 19));
}
main{
    max-width: 400px;
    width: 90%;
    margin: auto;
    padding: 24px;
   
}
.registro{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px; 
}
.registro__label{
    display: block;
    font-weight: 900;
    padding: 15px;
    cursor: pointer;
}
.registro__usuarios-input{
    position: relative;
}
.registro__input{
    width: 100%;
    background-color: azure;
    border: 2px solid transparent;
    border-radius: 2px;
    height: 35px;
    line-height: 35px;
    padding: 5px 20px 5px 10px;
    transition: .03s ease all;
}
.registro__input:focus{
    border: 3px solid rgb(50, 133, 228);
    outline: none;
    box-shadow: 3px 0 30px rgba(135, 187, 229, 0.4);
}
.registro__input-error{
    font-size: 10px;
    margin-bottom: 0;
    display:  none;
}
.registro__input-error-activo{
    display: block;
}

/* -- Terminos y condiciones -- */
.registro__checkbox{
margin-right: 15px;
}
.registro__mensaje{
    height: 100%;
    line-height: 45px;
    background: skyblue;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.registro__mensaje-activo{
    display: block;
}
.registro__mensaje p {
    margin: 0px;
}
/* -- Botón registrar -- */

.reg__us-btn-registrar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registro__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: black;
    color: white;
    font-weight: bold;
    border: 20px;
    border-color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

/* -- Colores validación -- */
